<!--
***********************************************************************************************************************************************************************
This file is the launch file for the fanuc robot in rviz
Copyright notice for IP Docket # 2023-234 and IP Docket # 2023-235.
Copyright (C) 2023

Authors:
Ruixuan Liu: ruixuanl@andrew.cmu.edu
Changliu Liu : cliu6@andrew.cmu.edu

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 3
of the License, or (at your option) any later version.
 
This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
***********************************************************************************************************************************************************************
-->

<launch>
  <arg name="visual_workpiece" value="true"/>
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find lego_assembly)/simulation/urdf/fanuc_arm.xacro'" />

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui">
    <param name="use_gui" value="TRUE"/>
  </node>

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name = "rviz" pkg = "rviz" type="rviz" args = "-d $(find lego_assembly)/simulation/launch/control.rviz" required = "true"/> 


</launch>
